[submodule "work/Bukkit"]
	path = work/Bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
[submodule "work/CraftBukkit"]
	path = work/CraftBukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/craftbukkit.git
[submodule "work/BuildData"]
	path = work/BuildData
	url = https://hub.spigotmc.org/stash/scm/spigot/builddata.git
[submodule "work/Spigot"]
	path = work/Spigot
	url = https://hub.spigotmc.org/stash/scm/spigot/spigot.git
