[submodule "Bukkit"]
	path = Bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
[submodule "CraftBukkit"]
	path = CraftBukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/craftbukkit.git
[submodule "BuildData"]
	path = BuildData
	url = https://hub.spigotmc.org/stash/scm/spigot/builddata.git
[submodule "Paperclip"]
	path = Paperclip
	url = https://github.com/PaperMC/Paperclip.git
[submodule "Spigot"]
	path = Spigot
	url = https://hub.spigotmc.org/stash/scm/spigot/spigot.git
