# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea/

# Linux temp files
*~

# other stuff
Spigot-API
Spigot-Server
PaperSpigot-Server
PaperSpigot-API
