language: java
sudo: required
jdk:
  - oraclejdk8
git:
  submodules: false
before_install:
  - git config --global user.email "travis-ci@travis-ci.com"
  - git config --global user.name "Travis CI"
  - ./paper patch
cache:
  directories:
    - '$HOME/.m2/repository'
    - 'work'
