<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="SuppressionSingleFilter">
        <property name="checks" value=".*"/>
        <property name="files" value="src[\\/]testData[\\/]java[^\\/]*[\\/].*"/>
    </module>
</module>
