# Eclipse stuff
/.classpath
/.project
/.settings
/.checkstyle
/.factorypath

# netbeans
/nbproject
nb*.xml

# we use maven!
/build.xml

# maven
/target
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world
/logs

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

/src/main/resources/achievement
/src/main/resources/lang
